/*Details List*/
.details {
  padding-top: 94px;
  padding-bottom: 94px;
}

.details-list {
  display: flex;
  flex-wrap: wrap;

  &-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
  
    color: $black;
  }

  &-descr {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    text-align: left;
  }

  & .item {
    width: 270px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }

    &::before {
      display: flex;
      content: '';
      width: 270px;
      height: 120px;
    
      margin-bottom: 30px;
    
      background-repeat: no-repeat;
      background-position: center;
      background-color: $grey-bg;
    }

    &:nth-child(1)::before {
      background-image: url(../img/icons-1-page/antenna.svg)
    }
    &:nth-child(2)::before {
      background-image: url(../img/icons-1-page/clock.svg);
    }
      
    &:nth-child(3)::before {
      background-image: url(../img/icons-1-page/diagram.svg);
    }
      
    &:nth-child(4)::before {
      background-image: url(../img/icons-1-page/astronaut.svg);
    }
  }
  }

